In [4]:
## If Statemennts
age= 18
if age>= 18:
    print("You are eligible to vote")

You are eligible to vote

In [5]:
## : this colon indicates the start of if block
if age<= 18:
    print("You are not eligible to vote")

You are not eligible to vote

In [6]:
17<18

True

In [7]:
18<18

False

In [9]:
input()

 sashyawati deka

'sashyawati deka'

In [10]:
name=input("Enter the name")

Enter the name sashyawati deka

In [11]:
name

'sashyawati deka'

In [12]:
age=int(input("Enter your age"))

Enter your age 25

In [13]:
age

25

In [14]:
type(age)

int

In [15]:
type(name)

str

In [16]:
## mall- input the product price
## product >1000 rs20% off
##print the product price
## product <=1000 rs 30% off
##print the product price
##print the product price after removing the discount

In [18]:
price= 2000
if price>= 1000:
    print("congratulation you are eligible for 20%off")
    
else price<= 1000:
    print("congratulation you are eligible for 30%off")

congratulation you are eligible for 20%off

In [19]:
price=int(input("Enter the price"))

Enter the price 2000

In [20]:
price

2000

In [21]:
2000>1000

True

In [22]:
800<1000

True

In [23]:
900>1000

False

In [24]:
# mall- input the product price
## product >1000 rs20% off
##print the product price
## product <=1000 rs 30% off
##print the product price
##print the product price after removing the discount

In [27]:
product_price=int(input("Enter the price"))
if product_price>1000:
    print("The price of the product is {}" .format(product_price*0.8))
else:
     print("The price of the product is {}" .format(product_price*0.7))

Enter the price 5000

The price of the product is 4000.0

In [5]:
## single statements suites
val=int(input("Enter the number"))
if (val<=999): print("Value is less than equal to 999")
else:
    print("Better luck next time")

Enter the number 500

Value is less than equal to 999

## Loops statements
1. while loop
2. for loop
3. nested loop
4. loop control(break, continue,pass)

In [2]:
## atm machine with 100rs
total_amount=1000
while total_amount!=0:
    print(total_amount)
    total_amount=total_amount-100
    
else:
    print("put more money on bank people")

1000
900
800
700
600
500
400
300
200
100
put more money on bank people

In [7]:
## list

In [ ]:
lst=["sasu",1,2,3,4,"apple", "banana"]

In [8]:
type(lst)

list

In [10]:
lst[0]

'sasu'

In [ ]:
## For loop

In [ ]:
["sasu",1,2,3,4,"apple", "banana"]

In [11]:
for x in lst:
    print(x)

sasu
1
2
3
4
apple
banana

In [12]:
## range(it alwaysskips th last nuber till where it range has given)

In [13]:
 for i in range(1, 10):
        print(i)

1
2
3
4
5
6
7
8
9

In [15]:
for i in range(1, 10,3):
        print(i)

1
4
7

In [18]:
## nested loops
n=7

for i in range(0,n):
    for j in range(0,i+1):
        print("*", end="")
    print("\r")

*
**
***
****
*****
******
*******

In [19]:
## loop controls
## break
## pass
## continue

In [21]:
fruit_list=["apple","orange","cherry", "mango", "banana"]

In [23]:
## continue
for i in fruit_list:
    if i=="cherry":
        print("the fruit is cherry")
        continue
    print(i)

apple
orange
the fruit is cherry
mango
banana

In [24]:
## break
for i in fruit_list:
    if i=="cherry":
        print("the fruit is cherry")
        break
    print(i)

apple
orange
the fruit is cherry

In [25]:
## pass
for i in fruit_list:
    if i=="cherry":
        print("the fruit is cherry")
        pass
    print(i)

apple
orange
the fruit is cherry
cherry
mango
banana